@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a,
button:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --normal-font: 400;
  --medium-font: 500;
  --bold-font: 700;
  --bolder-font: 800;
  --primary-background-color: #202020;
  --secondary-background-color: #2C2C2C;
  --button-background-color: #EB601D;
  --button-hover-background-color: #be4b11;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #C1C1C1;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1199px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1399px;
  }
}
.button {
  padding: 21px 39px;
  background-color: var(--button-background-color);
  text-transform: uppercase;
  font-weight: var(--medium-font);
  font-size: 16px;
  color: var(--primary-text-color);
  border-radius: 8px;
  border: none;
}
.button:hover {
  background-color: var(--button-hover-background-color);
}
.button:focus {
  background-color: var(--button-hover-background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 1000ms linear, opacity 1000ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 85px 60px;
  background-color: var(--secondary-background-color);
  text-align: center;
}

.modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  border: 1px solid var(--accent-color);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.backdrop-modal-have-certificate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 1000ms linear, opacity 1000ms linear;
}

.backdrop-modal-have-certificate.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-modal-leave-application {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 1000ms linear, opacity 1000ms linear;
}

.backdrop-modal-leave-application.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-modal-order-certificate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 1000ms linear, opacity 1000ms linear;
}

.backdrop-modal-order-certificate.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header {
  background-color: var(--primary-background-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.header__wrapper__link {
  display: flex;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.icon {
  fill: #fff;
}
.icon:hover {
  fill: var(--button-background-color);
}
.icon:focus {
  fill: var(--button-background-color);
}

.hero {
  position: relative;
  padding-top: 100px;
  padding-bottom: 585px;
  text-align: center;
  background-color: var(--primary-background-color);
}

.hero__title {
  font-weight: var(--bolder-font);
  font-size: 70px;
  color: var(--primary-text-color);
}

.hero__title__span {
  font-weight: var(--medium-font);
  font-size: 40px;
  color: var(--primary-text-color);
  margin-bottom: 22px;
}

.hero__text {
  width: 428px;
  color: var(--secondary-text-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero_wrapper_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.hero__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/bike-hero.png");
    background-size: cover;
    background-position: center bottom -300%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../images/bike-hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom -300%;
  }
}
.about {
  background-color: var(--secondary-background-color);
  padding-top: 73px;
  padding-bottom: 163px;
  text-align: center;
  background-image: url("../images/background-about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 730px;
}

.wrapper-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.about__title__text {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--bold-font);
  font-size: 40px;
  color: var(--primary-text-color);
  margin-bottom: 70px;
}
.about__title__text::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -37px;
  left: 45%;
}

.about__title {
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
  width: 586px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 157px;
}

.about__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 87px;
}

.about__list__item {
  text-align: left;
  width: 253px;
}

.about__list__item__text {
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../images/bike-hero.png");
    background-repeat: no-repeat;
    background-size: 1920px 997px;
    background-position: center bottom -300%;
  }
}
.teacher {
  background-color: var(--primary-background-color);
  padding-top: 319px;
  padding-bottom: 228px;
  background-image: url("../images/bike-and-man.png");
  background-repeat: no-repeat;
  background-position: left 60% bottom 120px;
}

.teacher__title {
  position: relative;
  font-weight: var(--bold-font);
  font-size: 40px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  width: 550px;
  margin-bottom: 80px;
}

.teacher__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -30px;
}

.teacher__text {
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  width: 586px;
}

.wrapper-content {
  width: 800px;
  margin-left: 100px;
}

.registration {
  padding-top: 87px;
  padding-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--primary-background-color);
  background-image: url("../images/bike-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper-content {
  margin-right: auto;
  margin-left: auto;
}

.registration__title {
  position: relative;
  font-weight: var(--bold-font);
  font-size: 40px;
  color: var(--primary-text-color);
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}
.registration__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -28px;
  left: 48%;
}

.registration__text {
  margin-left: auto;
  margin-right: auto;
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
  width: 400px;
  text-align: center;
}

.wrapper-input {
  display: flex;
  margin-bottom: 50px;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #41454E;
  padding-bottom: 10px;
  width: 346px;
  color: var(--primary-text-color);
}
.form__input:not(:last-child) {
  margin-right: 142px;
}
.form__input::placeholder {
  color: var(--primary-text-color);
}

.end-registration {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--primary-background-color);
  padding-top: 140px;
  padding-bottom: 170px;
}

.about__bike {
  background-color: var(--primary-background-color);
  padding-top: 110px;
  padding-bottom: 192px;
  background-image: url("../images/bike.png");
  background-repeat: no-repeat;
  background-position: left 50% top 20%;
}

.about__bike__title {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--bold-font);
  font-size: 40px;
  color: var(--primary-text-color);
  margin-bottom: 78px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.about__bike__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -37px;
  left: 45%;
}

.about__bike__text {
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.about__bike__video__description {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--bold-font);
  font-size: 40px;
  color: var(--primary-text-color);
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 74px;
  margin-top: 775px;
}
.about__bike__video__description::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -37px;
  left: 45%;
}

.about__bike__video {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 1445px;
  height: 710px;
}

.span {
  font-weight: var(--bold-font);
}

@media screen and (min-width: 768px) {
  .about__bike__video {
    width: 700px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .about__bike__video {
    width: 1100px;
    height: 600px;
  }
}
.gifts {
  padding-top: 196px;
  padding-bottom: 167px;
  background-color: var(--secondary-background-color);
  background-image: url("../images/box.png");
  background-repeat: no-repeat;
  background-position: left 65% top 50%;
}

.gifts__title {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--bold-font);
  font-size: 40px;
  color: var(--primary-text-color);
  width: 360px;
  text-align: start;
  margin-bottom: 110px;
}
.gifts__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  position: absolute;
  bottom: -37px;
  left: 0;
}

.gifts__text {
  font-weight: var(--normal-font);
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 45px;
  width: 430px;
  text-align: start;
}/*# sourceMappingURL=main.css.map */