:root {
--primary-font: 'Montserrat', sans-serif;
--normal-font: 400;
--medium-font: 500;
--bold-font: 700;
--bolder-font: 800;

--primary-background-color: #202020;
--secondary-background-color: #2C2C2C;
--button-background-color: #EB601D;
--button-hover-background-color: #be4b11;
--primary-text-color: #FFFFFF;
--secondary-text-color: #C1C1C1;
}