.backdrop-modal-leave-application {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    transition: visibility 1000ms linear, opacity 1000ms linear;
}

.backdrop-modal-leave-application.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}